{% extends 'PigaNgBaseBundle::ng_layout.html.twig' %}

{% block body %}
    <div class="body" ng-app="symfonyApp">
        <div class="container">
            <div ng-view></div>
        </div>
    </div>
{%  endblock %}
